@font-face { 
    font-family: "OpenSans-ExtraBold";
    src: url(fonts/OpenSans-ExtraBold.ttf) format("truetype"); 
}
@font-face { 
    font-family: "OpenSans-Light";
    src: url(fonts/OpenSans-Light.ttf) format("truetype"); 
}
@font-face { 
    font-family: "OpenSans-Regular";
    src: url(fonts/OpenSans-Regular.ttf) format("truetype"); 
}
@font-face { 
    font-family: "OpenSans-SemiBoldOpenSans-SemiBold";
    src: url(fonts/OpenSans-SemiBold.ttf) format("truetype"); 
}

body{
    display: flex;
    justify-content: center;
    background-color: #0d1e57;
    margin: 0;
}
.wi{
    fill: white;
    width: 100px;
    height: 100px;
}
img{
    width: 80px;
    height: 80px;
}
.weather_box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    max-width: 800px;
}

.weather_today{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 200px;
}
.city {
    font: 1.5rem "OpenSans-ExtraBold", sans-serif;
    color: #fff;
    margin-bottom: 0;
}

 .forecast{
    width: 100%;
    display: flex;
    justify-content: center;
}

#dayList{
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    width: 100%;
    list-style-type: none;
    color: #fff;
}
.days{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30%;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.11);
}
.day{
    font: 0.875rem "OpenSans-Regular", sans-serif;
    margin-left: 10px;
}
.dayToday{
    font: 0.875rem "OpenSans-Regular", sans-serif;
    color: #fff;
}
.tempToday{
    font: 5rem "OpenSans-Regular", sans-serif;
    color: #fff;
}
.weather_type{
    font: 1.125rem "OpenSans-SemiBold", sans-serif;
    color: #fff;
}
.temperature{
    font: 1.875rem "OpenSans-Light", sans-serif;
    margin: 0 auto;
}
.textWeather{
    font: 0.875rem "OpenSans-Regular", sans-serif;
    margin-left: 10px;
}
.weather_icon{
    margin: 0 auto 10px auto;
}
input[type="text"] {
    border: 1px solid #444;
    padding: 2px;
    border: none;
}

input[type="button"] {
    color: #000000;
    background-color: #FFFFFF;
    border: none;
}

.citysNames{
    margin-top: 0;
    padding-left: 0;
    background-color: #fff;
    box-shadow:1px 1px 1px 1px red;
}
.citysNames li{
    list-style-type: none;
    cursor: pointer;
}
.citysNames li span{
    margin-left: 10px;
}
.citysNames li:hover{
    background-color: rgba(250, 145, 32, .5); 
}
